<header class="header" id="site-header">
    <div class="header-container container">
        <img class="logo-img" src="/img/logo.png" alt="Logo" loading="lazy">
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="19" height="3" fill="#1C1C1C" />
    <rect y="7" width="19" height="3" fill="#1C1C1C" />
    <rect y="14" width="19" height="3" fill="#1C1C1C" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gallery">Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#demo">Game</a>
                </li>

                <li class="navigation-item">
                    <a class="links" href="./#feature">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li><a class="menu-list-item" href="./#home">Home</a></li>
        <li><a class="menu-list-item" href="./#lore">Lore Of The Farm</a></li>
        <li><a class="menu-list-item" href="./#demo">Game section</a></li>
        <li>
            <a class="menu-list-item" href="./#awakening">Awakening</a>
        </li>
        <li>
            <a class="menu-list-item" href="./#event">Event</a>
        </li>
 <li><a class="menu-list-item" href="privacy.html">Privacy Policy</a></li>
        <li><a class="menu-list-item" href="terms.html">Terms and Conditions</a></li>
       
        <li><a class="menu-list-item" href="cookies.html">Cookies Policy</a></li>
    </ul>
</div>