<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Cursed Can Bonus Buy</h1>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">DISCLAIMER </h2>
        <p class="disclaimer-text"><span class="span">bittrackbit.online</span>  IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>