body{
  background: #fff;
  font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #172a47;
}
h2{
  font-family: "Urbanist", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.08333;
    text-align: center;
    color: #172a47;
  
}
@media only screen and (min-width: 1439px) {
 h2{
    font-size: 52px;
    line-height: 1.15385;
 }
 body{
    font-size: 20px;
 }
}
