.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 20px;
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.18);
    background: #1b1996;
    z-index: 1000;
    width: 100%;
    height: auto;
    text-align: left;
    display: none;
}

.cookie-class {
font-family: "Urbanist", sans-serif;
font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    margin-top: 16px;
}

.popup-img {
    margin-left: 0;
    margin-right: auto;
}

.cokies-span {
font-weight: 600;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 271px;
    height: 140px;
    margin-top: 16px;
}

.btn-accept {
border-radius: 6px;
    padding: 12px 58px;
    width: 151px;
    height: 44px;
    background: #cff3fa;
    box-sizing: border-box;
    border: none;
font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    color: #10182f;
    text-align: center;
}

.btn-decline {
border: 2px solid #cff3fa;
    border-radius: 6px;
    padding: 12px 58px;
    width: 160px;
    height: 44px;
font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #cff3fa;
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
}

.mob-none {
    display: none;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 40px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 44px;
    }

    .popup-img {
        margin-left: 0;
        margin-right: 0;
    }

    .cookie-class {
        width: 869px;
        text-align: left;
        margin-top: 0;
    }

    .mob-none {
        display: inline;
    }


    .cookie-buttons {
        flex-direction: row;
        gap: 20px;
        width: 404px;
        height: 54px;
        margin-top: 0;
    }
}