.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
background: rgba(81, 75, 180, 0.8);
  height: 94px;
  width: 100%;
 
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.icon{
  background: #fff;
  border-radius: 300px;
    padding: 14px 32px;
    width: 88px;
    height: 48px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
border: 1.50px solid rgba(28, 28, 28, 0.2);
  border-radius: 40px;
  backdrop-filter: blur(4px);
    background: #5759be;
    opacity: 0.96;
  padding: 40px;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: left;
}

.menu-list-item {
  color: #fff;
  transition: font-weigh 0.3s easy;
}

.menu-list-item:hover {
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 126px;
  }

  .header-container {
    padding: 32px 88px;
    justify-content: space-between;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
  
  
    align-items: center;
    border: 1.50px solid rgba(28, 28, 28, 0.2);
      border-radius: 300px;
      width: 703px;
      height: 56px;
      backdrop-filter: blur(4px);
        background: #fff;
  }


  .navigation-item {
    padding: 16px 0px 16px 30px;
    font-size: 16px;
    color: #1c1c1c;
    transition: font-weight 0.3s easy;
  }
.links{
 padding-right: 30px;
  border-right: 1.50px solid rgba(28, 28, 28, 0.2);
}
.links-last{
  border-right:none;
}
  .navigation-item:hover,
  .navigation-item:active {
    font-weight: 700;

  }
}