.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@media only screen and (min-width: 1439px) {
.hero-section{
    background-image: url("/img/hero/desk.png");
}
}
/* discliaimer */
.disclaimer-section{
    background-image: url("/img/disclaimer/mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
}
.disclaimer-title{
    font-family: "Urbanist", sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.2;
        text-align: right;
        color: #172a47;
}
.disclaimer-text{
    font-family: "Urbanist", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14286;
        color: #172a47;
        margin-top: 96px;
}
.span{
    font-weight: 900;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-section{
    background-image: url("/img/disclaimer/desk.png");
   }
   .disclaimer-container{
    padding-left: 276px;
   }
   .disclaimer-title{
   text-align: left;
   margin-left: 320px;
    font-size: 48px;
    line-height: 1.08333;
   }
   .disclaimer-text{
    font-size: 36px;
    margin-top: 32px;
   }
}
/* lore */
.lore-section{
    background-image: url("/img/lore/mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
}
.lore-container{
    padding-top: 60px;
    padding-bottom: 296px;
}
.lore-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 4px dashed rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 24px;
        width: 335px;
        height: 636px;
        background: rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 1439px) {
    .lore-section{
        background-image: url("/img/lore/desk.png");
    }
    .lore-container{
       padding-top: 80px;
       padding-bottom: 65px;

    }
    .lore-wrapper{
        border: 4px dashed rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            padding: 44px 28px;
            width: 570px;
            height: 408px;
            margin-top: 52px;
    }
}
/* enter */
.enter-section {
    background-image: url("/img/enter/mob.png");
            background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
}
.enter-container{
    padding-top: 60px;
    padding-bottom: 430px;
}
.enter-title{
    color: #fff;
}
.enter-subtitle{
    text-align: center;
        font-weight: 700;
        font-size: 28px;
        color: #fff;
        margin-top: 32px;
}
@media only screen and (min-width: 1439px) {
 .enter-section{
    background-image: url("/img/enter/desk.png");
 }
 .enter-container{
    padding: 80px 370px 933px;
 }
.enter-subtitle{
    font-size: 36px;
        line-height: 1.11111;
 }
}