.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@media only screen and (min-width: 1439px) {
.hero-section{
    background-image: url("/img/hero/desk.png");
}
}
/* discliaimer */
.disclaimer-section{
    background-image: url("/img/disclaimer/mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
}
.disclaimer-title{
    font-family: "Urbanist", sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.2;
        text-align: right;
        color: #172a47;
}
.disclaimer-text{
    font-family: "Urbanist", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14286;
        color: #172a47;
        margin-top: 96px;
}
.span{
    font-weight: 900;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-section{
    background-image: url("/img/disclaimer/desk.png");
   }
   .disclaimer-container{
    padding-left: 276px;
   }
   .disclaimer-title{
   text-align: left;
   margin-left: 320px;
    font-size: 48px;
    line-height: 1.08333;
   }
   .disclaimer-text{
    font-size: 36px;
    margin-top: 32px;
   }
}
/* lore */
.lore-section{
    background-image: url("/img/lore/mob.png");
        background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
}
.lore-container{
    padding-top: 60px;
    padding-bottom: 296px;
}
.lore-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 4px dashed rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 24px;
        width: 335px;
        height: 636px;
        background: rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 1439px) {
    .lore-section{
        background-image: url("/img/lore/desk.png");
    }
    .lore-container{
       padding-top: 80px;
       padding-bottom: 65px;

    }
    .lore-wrapper{
        border: 4px dashed rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            padding: 44px 28px;
            width: 570px;
            height: 408px;
            margin-top: 52px;
    }
}
/* enter */
.enter-section {
    background-image: url("/img/enter/mob.png");
            background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
}
.enter-container{
    padding-top: 60px;
    padding-bottom: 430px;
}
.enter-title{
    color: #fff;
}
.enter-subtitle{
    text-align: center;
        font-weight: 700;
        font-size: 28px;
        color: #fff;
        margin-top: 32px;
}
@media only screen and (min-width: 1439px) {
 .enter-section{
    background-image: url("/img/enter/desk.png");
 }
 .enter-container{
    padding: 80px 370px 933px;
 }
.enter-subtitle{
    font-size: 36px;
        line-height: 1.11111;
 }
}
/* awakening */
.awakening-section{
    background-image: url("/img/awakening/mob.png");
            background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
}
.awakening-container{
    padding-top: 60px;
    padding-bottom: 380px;
}
.awakening-title{
    color: #fff;
}
.awakening-text{
    margin-top: 40px;
    border: 4px dashed rgba(255, 255, 255, 0.5);
        border-radius: 20px;
    padding: 24px 16px;
        width: 335px;
    color: #fff;
    font-size: 20px;
        background: rgba(74, 52, 109, 0.8);
}
@media only screen and (min-width: 1439px) {
 .awakening-section{
    background-image: url("/img/awakening/desk.png");
 }
 .awakening-container{
    padding: 80px;
 }
 .awakening-text{
    margin-right: 0;
    margin-left: auto;
    padding: 44px 28px;
        width: 570px;
        margin-top: 90px;
 }
}
/* demo */
.demo-section{
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.demo-container{
    position: relative;
}
.demo-btn{
    position: absolute;
   z-index: 2;

   display: block;
top: 40%;
left: 40%;
transform: translateX(-30%);
}
.game-img {
    width: 100%;
    display: block;
    margin-bottom: 22px;
}

.demo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
        height: 60px;
}

/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 5%;
    /* під екран у картинці */
    left: 49%;
    transform: translateX(-53%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 109%;
    height: 146%;
    border: none;
    display: none;
    background: #000;
}

#closeIframeBtn {
    position: absolute;
    top: 12px;
    right: -30px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    width: 40px;
    height: 20px;
}
@media only screen and (min-width: 1439px) {
   .demo-btn{
    top: 52%;
    left: 50%;
        transform: translateX(-50%);
   }
   .demo-img{
    width: 358px;
        height: 116px;
   }
}
/* about */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.about-container{
    padding: 170px 36px 156px;
}
.about-wrapper{
display: flex;
flex-direction: column;
gap: 20px;
text-align: center;
}